<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HQ40d_Diagnosztika.Properties.Settings.DiagnosztikaConnectionString"
            connectionString="Data Source=SASA-Laptop\SQLEXPRESS;Initial Catalog=Diagnosztika;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>